eBay/ebaySoap/WebContent/wsdl/Cart.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://ebay.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://ebay.com" xmlns:intf="http://ebay.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://ebay.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="removeFromCart">
    <complexType>
     <sequence>
      <element name="cartId" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="removeFromCartResponse">
    <complexType>
     <sequence>
      <element name="removeFromCartReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="loadCart">
    <complexType>
     <sequence>
      <element name="userId" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="loadCartResponse">
    <complexType>
     <sequence>
      <element name="loadCartReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="addToCart">
    <complexType>
     <sequence>
      <element name="cartItem" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="addToCartResponse">
    <complexType>
     <sequence>
      <element name="addToCartReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="emptyCart">
    <complexType>
     <sequence>
      <element name="userId" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="emptyCartResponse">
    <complexType>
     <sequence>
      <element name="emptyCartReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="updateCartItem">
    <complexType>
     <sequence>
      <element name="cartId" type="xsd:string"/>
      <element name="quantity" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="updateCartItemResponse">
    <complexType>
     <sequence>
      <element name="updateCartItemReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="emptyCartRequest">

      <wsdl:part element="impl:emptyCart" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addToCartResponse">

      <wsdl:part element="impl:addToCartResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="removeFromCartRequest">

      <wsdl:part element="impl:removeFromCart" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addToCartRequest">

      <wsdl:part element="impl:addToCart" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updateCartItemResponse">

      <wsdl:part element="impl:updateCartItemResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="loadCartResponse">

      <wsdl:part element="impl:loadCartResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="removeFromCartResponse">

      <wsdl:part element="impl:removeFromCartResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="loadCartRequest">

      <wsdl:part element="impl:loadCart" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="emptyCartResponse">

      <wsdl:part element="impl:emptyCartResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updateCartItemRequest">

      <wsdl:part element="impl:updateCartItem" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Cart">

      <wsdl:operation name="removeFromCart">

         <wsdl:input message="impl:removeFromCartRequest" name="removeFromCartRequest">

       </wsdl:input>

         <wsdl:output message="impl:removeFromCartResponse" name="removeFromCartResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="loadCart">

         <wsdl:input message="impl:loadCartRequest" name="loadCartRequest">

       </wsdl:input>

         <wsdl:output message="impl:loadCartResponse" name="loadCartResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addToCart">

         <wsdl:input message="impl:addToCartRequest" name="addToCartRequest">

       </wsdl:input>

         <wsdl:output message="impl:addToCartResponse" name="addToCartResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="emptyCart">

         <wsdl:input message="impl:emptyCartRequest" name="emptyCartRequest">

       </wsdl:input>

         <wsdl:output message="impl:emptyCartResponse" name="emptyCartResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="updateCartItem">

         <wsdl:input message="impl:updateCartItemRequest" name="updateCartItemRequest">

       </wsdl:input>

         <wsdl:output message="impl:updateCartItemResponse" name="updateCartItemResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="CartSoapBinding" type="impl:Cart">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="removeFromCart">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="removeFromCartRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="removeFromCartResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="loadCart">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="loadCartRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="loadCartResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addToCart">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addToCartRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addToCartResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="emptyCart">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="emptyCartRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="emptyCartResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="updateCartItem">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="updateCartItemRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="updateCartItemResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="CartService">

      <wsdl:port binding="impl:CartSoapBinding" name="Cart">

         <wsdlsoap:address location="http://localhost:8080/ebayLab3/services/Cart"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
