eBay/ebaySoap/WebContent/wsdl/Profile.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://ebay.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://ebay.com" xmlns:intf="http://ebay.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://ebay.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="loadProfile">
    <complexType>
     <sequence>
      <element name="username" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="loadProfileResponse">
    <complexType>
     <sequence>
      <element name="loadProfileReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="loadProfileRequest">

      <wsdl:part element="impl:loadProfile" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="loadProfileResponse">

      <wsdl:part element="impl:loadProfileResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Profile">

      <wsdl:operation name="loadProfile">

         <wsdl:input message="impl:loadProfileRequest" name="loadProfileRequest">

       </wsdl:input>

         <wsdl:output message="impl:loadProfileResponse" name="loadProfileResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ProfileSoapBinding" type="impl:Profile">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="loadProfile">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="loadProfileRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="loadProfileResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ProfileService">

      <wsdl:port binding="impl:ProfileSoapBinding" name="Profile">

         <wsdlsoap:address location="http://localhost:8080/ebayLab3/services/Profile"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
