eBay/ebaySoap/WebContent/wsdl/SignUp.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://ebay.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://ebay.com" xmlns:intf="http://ebay.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://ebay.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="register">
    <complexType>
     <sequence>
      <element name="userData" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="registerResponse">
    <complexType>
     <sequence>
      <element name="registerReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="checkEmail">
    <complexType>
     <sequence>
      <element name="email" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="checkEmailResponse">
    <complexType>
     <sequence>
      <element name="checkEmailReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="checkUserName">
    <complexType>
     <sequence>
      <element name="username" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="checkUserNameResponse">
    <complexType>
     <sequence>
      <element name="checkUserNameReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="checkUserNameResponse">

      <wsdl:part element="impl:checkUserNameResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="registerRequest">

      <wsdl:part element="impl:register" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="checkEmailResponse">

      <wsdl:part element="impl:checkEmailResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="registerResponse">

      <wsdl:part element="impl:registerResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="checkEmailRequest">

      <wsdl:part element="impl:checkEmail" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="checkUserNameRequest">

      <wsdl:part element="impl:checkUserName" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="SignUp">

      <wsdl:operation name="register">

         <wsdl:input message="impl:registerRequest" name="registerRequest">

       </wsdl:input>

         <wsdl:output message="impl:registerResponse" name="registerResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="checkEmail">

         <wsdl:input message="impl:checkEmailRequest" name="checkEmailRequest">

       </wsdl:input>

         <wsdl:output message="impl:checkEmailResponse" name="checkEmailResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="checkUserName">

         <wsdl:input message="impl:checkUserNameRequest" name="checkUserNameRequest">

       </wsdl:input>

         <wsdl:output message="impl:checkUserNameResponse" name="checkUserNameResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="SignUpSoapBinding" type="impl:SignUp">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="register">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="registerRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="registerResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="checkEmail">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="checkEmailRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="checkEmailResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="checkUserName">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="checkUserNameRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="checkUserNameResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="SignUpService">

      <wsdl:port binding="impl:SignUpSoapBinding" name="SignUp">

         <wsdlsoap:address location="http://localhost:8080/ebayLab3/services/SignUp"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
